{% extends "layout.html" %}
{% block content %}

<div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}
                {% if form.username.errors %}
                    {{ form.username(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.username(class="form-control form-control-lg") }}
                {% endif %}
            </div>

             <div class="form-group">
                {{ form.topic.label(class="form-control-label") }}
                {% if form.topic.errors %}
                    {{ form.topic(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.topic.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.topic(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.predict_value.label(class="form-control-label") }}
                {% if form.predict_value.errors %}
                    {{ form.predict_value(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.predict_value.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.predict_value(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.growth_procent.label(class="form-control-label") }}
                {% if form.growth_procent.errors %}
                    {{ form.growth_procent(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.growth_procent.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.growth_procent(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.max_of_scale.label(class="form-control-label") }}
                {% if form.max_of_scale.errors %}
                    {{ form.max_of_scale(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.max_of_scale.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.max_of_scale(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.quality.label(class="form-control-label") }}
                {% if form.quality.errors %}
                    {{ form.quality(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.quality.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.quality(class="form-control form-control-lg") }}
                {% endif %}
            </div>

        </fieldset>

            <div class="form-group">
                <div class="test_inl">
                    <button type="submit" class="btn btn-outline-primary">SUBMIT</button>
                </div>
            </div>


    </form>
</div>

{% endblock content %}