{% extends "layout.html" %}
{% block content %}


        <article class="media content-section article-metadata">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 10% " scope="col"> id </th>
                        <th style="width: 20% " scope="col"> Name </th>
                        <!--<th style="width: 15% " scope="col"> Model linear </th>
                        <th style="width: 15% " scope="col"> Model regression </th>-->
                        <th style="width: 20% " scope="col"> Max of scale </th>
                        <th style="width: 30% " scope="col"> Usernames </th>
                        <th style="width: 20% " scope="col"> Change </th>
                    </tr>
                </thead>

                <tbody>
                    {% for topic in topics.items %}
                        <tr>
                            <td  scope="row"><small>{{ topic.id }}</small></td>
                            <td >{{ topic.name }}</td>
                            <!--<td >{{ topic.model_linear }}</td>
                            <td >{{ topic.model_poly }}</td>-->
                            <td >{{ topic.max_of_scale }}</td>
                            <td>
                                {% for social in topic.usernames %}
                                  <a href="#"> <p> {{ social.id }}  {{ social.username }}  </p></a>
                                {% endfor %}
                            </td>


                            <td class="test_inl ">
                                <a href="#" role="button" class="btn btn-outline-danger btn-sm ">Delete</a>
                                <a href="#" role="button" class="btn btn-outline-info btn-sm ">Edit</a>
                            </td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </article>

    {% for page_num in topics.iter_pages(left_edge = 1, right_edge = 1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if topics.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('home', page = page_num) }}" >{{ page_num }}</a>
            {% else %}
                <a class="btn btn_outline-info mb-4" href="{{ url_for('home', page = page_num) }}" >{{ page_num }}</a>
            {% endif %}
        {% else %}
        {% endif %}
    {% endfor %}



{% endblock content %}