{% extends "layout.html" %}
{% block content %}


        <article class="media content-section article-metadata">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 15% " scope="col"> Date posted </th>
                        <th style="width: 20% " scope="col"> Title </th>
                        <th style="width: 25% " scope="col"> Content </th>
                        <th style="width: 10% " scope="col"> Socials </th>
                        <th style="width: 10% " scope="col"> Tags </th>
                        <th style="width: 6% " scope="col"> Alr posted </th>
                        <th style="width: 14% " scope="col"> Change </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </article>



{% endblock content %}